# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Vector Database
db/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db