streamlit

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq

chromadb

sentence-transformers
torch

tavily-python

pypdf

python-dotenv