streamlit

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-chroma
langchain-huggingface

chromadb

google-generativeai

sentence-transformers
torch
tavily-python

pypdf

python-dotenv